In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/home/mike-pi/Documents/coding/Excs/pandas-workout/pandas-workout/data_sets/olympic_athlete_events.csv',
                 usecols=['Age', 'Height', 'Team', 'Year', 'Season', 'City', 'Sport', 'Event', 'Medal'],
                 index_col=['Year', 'Season', 'Sport', 'Event'])

df.head()

,,,,Age,Height,Team,City,Medal
Year,Season,Sport,Event,,,,,
1992,Summer,Basketball,Basketball Men's Basketball,24.0,180.0,China,Barcelona,NaN
2012,Summer,Judo,Judo Men's Extra-Lightweight,23.0,170.0,China,London,NaN
1920,Summer,Football,Football Men's Football,24.0,NaN,Denmark,Antwerpen,NaN
1900,Summer,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,34.0,NaN,Denmark/Sweden,Paris,Gold
1988,Winter,Speed Skating,Speed Skating Women's 500 metres,21.0,185.0,Netherlands,Calgary,NaN

### What is the average age of winning athletes in summer games held between
### 1936 and 2000?

In [3]:
(df
 .sort_index()
 .dropna(subset=['Medal'])
 .loc[(slice(1936, 2000), 'Summer', slice(None), slice(None)), 'Age']
 .mean()
)

25.224765104194006

# ### What team has won the most medals in all archery events?
# To answer this question, we need to:
# 1. Filter the dataframe for archery events
# 2. Group by 'Team' and count the medals
# 3. Sort the results to find the team with the most medals

In [4]:
(df
 .dropna(subset=['Medal'])
 .loc[(slice(None), slice(None), 'Archery', slice(None)), 'Team']
 .value_counts()
 .head(1)
)

Team
South Korea    69
Name: count, dtype: int64

### Starting in 1980, what is the average height of the “Table Tennis Women’s Team” event?

In [5]:
(df[1980:]
 .loc[(slice(None), slice(None), slice(None),"Table Tennis Women's Team"), 'Height']
 .mean()
)

165.04827586206898

### Starting in 1980, what is the average height of both “Table Tennis Women’s Team” and “Table Tennis Men’s Team”?

In [6]:
(df[1980:]
 .loc[(slice(None), slice(None), slice(None), ["Table Tennis Women's Team", "Table Tennis Men's Team"]), 'Height']
 .mean()
)

171.27083333333334

### How tall was the tallest-ever tennis player in Olympic games from 1980 until 2016?

In [7]:
(df
 .sort_index()
 .loc[(slice(1980, 2016), slice(None), "Tennis", slice(None)), 'Height']
 .max()
)

208.0

# Beyond 1
### Events occur in either summer or winter Olympic games, but not both. As a result, the "Season" level in our multi-index is often unnecessary. Remove the "Season" level, and then find (again) the height of the tallest tennis player between 1980 and 2016.

In [12]:
(df
 .reset_index('Season')
 .sort_index()
 .loc[(slice(1980, 2016), "Tennis"), 'Height']
 .max()
)

208.0

In [14]:
df.head(1)

,,,,Age,Height,Team,City,Medal
Year,Season,Sport,Event,,,,,
1992,Summer,Basketball,Basketball Men's Basketball,24.0,180.0,China,Barcelona,NaN

# Betyond 2
### In which city were the most gold medals awarded from 1980 onward?

In [16]:
(df
 .sort_index()
 .loc[1980:]
 .loc[lambda df_: df_['Medal'] == 'Gold', 'City']
 .value_counts() 
)

City
Beijing           671
Rio de Janeiro    665
Athina            664
Sydney            663
London            632
Atlanta           608
Barcelona         559
Seoul             520
Los Angeles       497
Moskva            457
Sochi             202
Torino            176
Vancouver         174
Salt Lake City    162
Nagano            145
Lillehammer       110
Albertville       104
Calgary            87
Sarajevo           74
Lake Placid        72
Name: count, dtype: int64

# Beyond 3
### How many gold medals were received by the United States since 1980? (Use the index to select the values.)

In [21]:
(df
 .sort_index()
 .loc[1980:]
 .loc[lambda df_: (df_['Medal'] == 'Gold') & (df_['Team'] == 'United States'), 'City']
 .count()
 )

1257