In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame, Series

In [10]:
g = np.random.default_rng(0)
index=['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']
s = Series(g.normal(20, 5, 28), index=index*4).round().astype('int8')
s

Sun    21
Mon    19
Tue    23
Wed    21
Thu    17
Fri    22
Sat    27
Sun    25
Mon    16
Tue    14
Wed    17
Thu    20
Fri     8
Sat    19
Sun    14
Mon    16
Tue    17
Wed    18
Thu    22
Fri    25
Sat    19
Sun    27
Mon    17
Tue    22
Wed    25
Thu    20
Fri    16
Sat    15
dtype: int8

In [14]:
s.loc['Mon']

Mon    19
Mon    16
Mon    16
Mon    17
dtype: int8

In [15]:
s.loc['Mon'].mean()

17.0

### What was the average weekend temperature (i.e., Saturdays and Sundays)?

In [16]:
s.loc[['Sat', 'Sun']].mean()

20.875

### How many times is the change in temperature from the previous day greater than 2 degrees?

In [22]:
s[s.diff() > 2].count()

11

### What are the two most common temperatures in our data set, and how often does each appear?

In [23]:
s.describe()

count    28.000000
mean     19.357143
std       4.373441
min       8.000000
25%      16.750000
50%      19.000000
75%      22.000000
max      27.000000
dtype: float64

In [24]:
s.value_counts()

17    4
19    3
22    3
25    3
16    3
21    2
27    2
14    2
20    2
23    1
8     1
18    1
15    1
Name: count, dtype: int64