In [2]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

In [3]:
g = np.random.default_rng(0)
months = 'Sept Oct Nov Dec Jan Feb Mar Apr May Jun'.split()
s = Series(g.integers(40, 60, 10), index=months)
s

Sept    57
Oct     52
Nov     50
Dec     45
Jan     46
Feb     40
Mar     41
Apr     40
May     43
Jun     56
dtype: int64

In [4]:
s_mean = s.mean()
s_mean

47.0

In [5]:
[x + (80 - s_mean) for x in s]

[90.0, 85.0, 83.0, 78.0, 79.0, 73.0, 74.0, 73.0, 76.0, 89.0]

In [6]:
s + (80 - s_mean)

Sept    90.0
Oct     85.0
Nov     83.0
Dec     78.0
Jan     79.0
Feb     73.0
Mar     74.0
Apr     73.0
May     76.0
Jun     89.0
dtype: float64

# Beyond the exercise

### Thereâ€™s at least one other way to scale test scores: by looking at both the mean
### of the scores and their standard deviation. Anyone who scored within one stan-
### dard deviation of the mean got a C (below the mean) or a B (above the mean).
### Anyone who scored more than one standard deviation above the mean got an
### A, and anyone who got more than one standard deviation below the mean got a
### D. During which months did our student get an A, B, C, and D?

In [7]:
std_dev = s.std(ddof=0)
std_dev

6.082762530298219

In [8]:
s_mean

47.0

In [9]:
s

Sept    57
Oct     52
Nov     50
Dec     45
Jan     46
Feb     40
Mar     41
Apr     40
May     43
Jun     56
dtype: int64

In [24]:
s_mean - std_dev

40.91723746970178

In [64]:
c = [ (x >= (s_mean - std_dev) and x < s_mean) for x in s]
b = [ (x >= s_mean and x <= (s_mean + std_dev)) for x in s]
a = [ x > (s_mean + std_dev) for x in s]
d = [ x < (s_mean - std_dev) for x in s]

# [i for i in c if c.index(True)]

In [67]:
c = Series(c, index=months) 
b = Series(b, index=months) 
a = Series(a, index=months) 
d = Series(d, index=months)

In [63]:
s[c != False]

Feb    40
Apr    40
dtype: int64

In [72]:
print(f'Students got A during months {s[a != False]}')
print()
print(f'Students got B during months {s[b != False]}')
print()
print(f'Students got C during months {s[c != False]}')
print()
print(f'Students got D during months {s[d != False]}')

Students got A during months Sept    57
Jun     56
dtype: int64


Students got B during months Oct    52
Nov    50
dtype: int64

Students got C during months Dec    45
Jan    46
Mar    41
May    43
dtype: int64

Students got D during months Feb    40
Apr    40
dtype: int64

### Were there any test scores more than two standard deviations above or below the mean? If so, in which months?

In [73]:
two_std_abv = [ x > (s_mean + std_dev * 2) for x in s]

In [75]:
two_std_abv

[False, False, False, False, False, False, False, False, False, False]

In [76]:
print('There are no months with 2 stds above mean')

There are no months with 2 stds above mean

In [77]:
two_std_below = [ x < (s_mean - std_dev * 2) for x in s]
two_std_below

[False, False, False, False, False, False, False, False, False, False]

In [78]:
print('There are no months with 2 stds below mean')

There are no months with 2 stds below mean

### How close are the mean and median to each another? What does it mean if they are close? What would it mean if they were far apart?

In [80]:
s.median()

45.5

In [81]:
s_mean

47.0

### The mean and median are fairly close which means that the series values are well balanced with no or little outliers