In [1]:
import pandas as pd

df = pd.read_csv('../data_sets/celebrity_deaths_2016.csv',
                 usecols=['dateofdeath', 'age'])

In [2]:
df['age'].describe()

count     6516
unique     138
top         86
freq       236
Name: age, dtype: object

In [3]:
df['month'] = pd.to_datetime(df['dateofdeath']).dt.month

In [4]:
df.tail()

     dateofdeath age  month
6538  2016-12-27  74     12
6539  2016-12-27  85     12
6540  2016-12-27  83     12
6541  2016-12-27  23     12
6542  2016-12-27  84     12

In [5]:
df = df.set_index('month')

In [6]:
df = df.sort_index()

In [7]:
df['age'].isnull().sum() / len(df.index)

0.0041265474552957355

In [8]:
df = df.dropna(subset=['age'])

In [9]:
df['age'].isnull().sum()

0

In [10]:
df = df[df['age'].str.isdigit()]

In [11]:
df['age'] = pd.to_numeric(df['age'])

In [12]:
df['age'].describe()

count    6481.000000
mean       77.019287
std        16.428815
min         7.000000
25%        69.000000
50%        81.000000
75%        89.000000
max       116.000000
Name: age, dtype: float64

In [13]:
df.head()

      dateofdeath  age
month
1      2016-01-01   71
1      2016-01-21   47
1      2016-01-21   87
1      2016-01-21   90
1      2016-01-21   73

In [14]:
df.loc[slice(2, 7), 'age'].mean()

77.17887409200968

# Beyond
### Add a new column, day, from the day of the month in which the celebrity died. Then create a multi-index (from month and day). What was the average age of death from Feb. 15 through July 15?

In [15]:
df =df.reset_index()

In [16]:
df['day'] = pd.to_datetime(df['dateofdeath']).dt.day

In [17]:
df.head(1)

   month dateofdeath  age  day
0      1  2016-01-01   71    1

In [18]:
df = df.set_index(['month', 'day'])
df.head()
df.loc[slice(2, 7), 'age'].mean()

77.17887409200968

In [19]:
df.head()

          dateofdeath  age
month day
1     1    2016-01-01   71
      21   2016-01-21   47
      21   2016-01-21   87
      21   2016-01-21   90
      21   2016-01-21   73

In [20]:
df

          dateofdeath  age
month day
1     1    2016-01-01   71
      21   2016-01-21   47
      21   2016-01-21   87
      21   2016-01-21   90
      21   2016-01-21   73
...               ...  ...
12    10   2016-12-10   63
      10   2016-12-10   20
      10   2016-12-10   57
      10   2016-12-10   78
      27   2016-12-27   84

[6481 rows x 2 columns]

In [21]:
df.sort_index().loc[(slice(2, 7), slice(15, 15)), 'age'].mean()

76.65137614678899

In [22]:
df['month'] = df['dateofdeath'].str.slice(5,7)

# Get the day, in slice [8:]
df['day'] = df['dateofdeath'].str.slice(8,None)

# Set a multi-index
df = df.set_index(['month', 'day'])

# Sort the index
df = df.sort_index()

# Get the rows from Feb 15th through July 15th, and the 'age' column, then the average
df.loc[('02', '15'):('07', '15'), 'age'].mean()

77.05183037332367

# Beyond 2
### The CSV file contains another column, causeofdeath. Load it into a data frame, and find the five most common causes of death. Now replace any NaN values in that column with the string 'unknown', and again find the five most common causes of death.

In [23]:
df = pd.read_csv('../data_sets/celebrity_deaths_2016.csv',
                 usecols=['dateofdeath', 'age', 'causeofdeath'])

# # Beyond 3
# ### The CSV file contains another column, placeofdeath. Load it into a data frame, and find the five most common places of death. Now replace any NaN values in that column with the string 'unknown', and again find the five most common places of death.
# df = pd.read_csv('../data_sets/celebrity_deaths_2016.csv',
#                  usecols=['dateofdeath', 'age', 'placeofdeath'])
# df['placeofdeath'].value_counts()

In [24]:
df['causeofdeath'] = df['causeofdeath'].fillna('unknown')

In [26]:
df['causeofdeath'].value_counts().head()

causeofdeath
unknown               5008
 cancer                248
 heart attack          125
 traffic collision      56
 lung cancer            51
Name: count, dtype: int64

# Beyond 3
### If someone asked whether cancer is in the top 10 causes, what would you say? Can you be more specific than that?