In [1]:
import pandas as pd 
import numpy as np

In [36]:
df = pd.read_csv('../data_sets/nyc-parking-violations-2020.csv',
                 usecols=['Plate ID', 'Registration State', 'Vehicle Make', 'Vehicle Color', 'Violation Time', 'Street Name'])
df.head()
df.info()
df.describe()
df.isnull().sum()
df.isnull().sum().sum()
df.isnull().sum().sum() / df.shape[0] * df.shape[1]
df.isnull().sum().sum() / df.shape[0] * df.shape[1] * 100
df.isnull().sum().sum() / df.shape[0] * df.shape[1] * 100

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12495734 entries, 0 to 12495733
Data columns (total 6 columns):
 #   Column              Dtype
---  ------              -----
 0   Plate ID            object
 1   Registration State  object
 2   Vehicle Make        object
 3   Violation Time      object
 4   Street Name         object
 5   Vehicle Color       object
dtypes: object(6)
memory usage: 572.0+ MB

21.909829386573048

### How many rows are in the data frame when it is read into memory?

In [3]:
df.shape[0]

12495734

### Remove rows with any missing data (i.e., a NaN value). How many rows remain after doing this pruning? If each parking ticket brings $100 into the city, and missing data means the ticket can be successfully contested, how much money may New York City lose due to such missing data?

In [4]:
df.dropna().shape[0]

12048375

In [13]:
f'${(len(df.index) - len(df.dropna().index))* 100:,}'

'$44,735,900'

### Let’s instead assume that a ticket can only be dismissed if the license plate, state, car make, and/or street name are missing. Remove rows that are missing one or more of these. How many rows remain? Assuming $100/ticket, how much money would the city lose as a result of this missing data?

In [14]:
f'${(df.shape[0] - df.dropna(subset=['Plate ID', 'Registration State', 'Vehicle Make', 'Street Name']).shape[0]) * 100:,}'

'$6,378,500'

### Now let’s assume that tickets can be dismissed if the license plate, state, and/or street name are missing—that is, the same as the previous question, but without requiring the make of car. Remove rows that are missing one or more of these. How many rows remain? Assuming $100/ticket, how much money would the city lose as a result of this missing data?

In [7]:
df.dropna(subset=['Plate ID', 'Registration State', 'Street Name']).shape[0]

12494116

In [17]:
f'${(len(df.index) - len(df.dropna(subset=['Plate ID', 'Registration State', 'Street Name']).index)) * 100:,}'

'$161,800'

# Beyond 1
### So far, you have specified which columns must be all non-null. But sometimes it’s OK for some columns to have null values, as long as it’s not too many. How many rows would you eliminate if you required at least three non-null values from the four columns Plate ID, Registration State, Vehicle Make, and Street Name?

In [20]:
f'{len(df.dropna(subset=['Plate ID', 'Registration State', 'Street Name', 'Vehicle Make'], thresh=3).index):,}'

'12,495,481'

# Beyond 2
### Which of the columns you’ve imported has the greatest number of NaN values? Is this a problem?

In [37]:
df.isnull().sum()
# No, it's not a problem, because it's not a very important column.

Plate ID                 202
Registration State         0
Vehicle Make           62420
Violation Time           278
Street Name             1417
Vehicle Color         391982
dtype: int64

In [44]:
df['Vehicle Color'].isnull().sum()

391982

In [46]:
len(df.index) - df['Vehicle Color'].isnull().sum()
# Beyond 3

12103752

# Beyond 3
### Null data is bad, but there is plenty of bad non-null data, too. For example, many cars with BLANKPLATE as a plate ID were ticketed. Turn these into NaN values, and rerun the previous query.

In [30]:
from numpy import nan

In [48]:
df.loc[df['Plate ID'] =='BLANKPLATE'].count()

Plate ID              8882
Registration State    8882
Vehicle Make          8139
Violation Time        8879
Street Name           8794
Vehicle Color         8045
dtype: int64

In [51]:
nr_blnk_plate = df.replace({'Plate ID': 'BLANKPLATE'}, np.nan).dropna(subset=['Plate ID', 'Registration State', 'Street Name', 'Vehicle Make'], thresh=3)

In [53]:
df.shape[0] - nr_blnk_plate.shape[0]

944