In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('../data_sets/nyc_taxi_2019-01.csv',
                 usecols=['passenger_count', 'trip_distance', 'total_amount'])

In [4]:
df.head()

   passenger_count  trip_distance  total_amount
0                1            1.5          9.95
1                1            2.6         16.30
2                3            0.0          5.80
3                5            0.0          7.55
4                5            0.0         55.55

In [12]:
(df
.sort_values('trip_distance', ascending=False)['total_amount']
.head(20)
.mean()
.round())

290.0

In [17]:
(df
.sort_values('trip_distance', ascending=True)['total_amount'][-20:]
.mean()
.round(2)
)

290.01

### Sort by ascending passenger count and descending trip distance. (So, start with the longest trip with 0 passengers and end with the shortest trip with 9 passengers.) What is the average price paid for the top 50 rides?

In [18]:
(df
.sort_values(['passenger_count', 'trip_distance'], ascending=[True, False])['total_amount']
.head(50)
.mean().
round(2))

135.5

In [19]:
(df
.sort_values(['passenger_count', 'trip_distance'], ascending=[True, False])['total_amount']
.head(10))

3528550    320.30
3296320    336.35
1878399    227.56
5549709    260.30
4176048    200.06
5052064    234.06
2715777      0.30
515765     163.26
1274793    112.56
1904745    124.80
Name: total_amount, dtype: float64

# Beyond 1
### In which five rides did people pay the most per mile? How far did people go on those trips?

In [32]:
df = pd.read_csv('../data_sets/nyc_taxi_2019-01.csv',
                 usecols=['passenger_count', 'trip_distance', 'total_amount'])

In [33]:
df = df[df['trip_distance'] !=0]

In [35]:
df['usd_per_mile'] = df['total_amount']/df['trip_distance'] 
df.sort_values('usd_per_mile').tail(5) 
# df.sort_values('passenger_count', ascending=False).head(5)

         passenger_count  trip_distance  total_amount   usd_per_mile
4136499                1           0.01        273.96   27396.000000
6403254                1           0.01        322.30   32230.000000
7099014                4           0.01        415.30   41530.000000
478791                 1           0.10       6667.45   66674.500000
2499600                1           2.40     623261.66  259692.358333

In [28]:
df.sort_values('usd_per_mile', ascending=False).head(5)

,passenger_count,trip_distance,total_amount,usd_per_mile,usd_per_passenger
1129038,1,0.0,3.30,inf,3.300
3171442,1,0.0,3.30,inf,3.300
4570397,2,0.0,63.35,inf,31.675
6613865,2,0.0,70.90,inf,35.450
5708974,1,0.0,63.06,inf,63.060

In [25]:
df.sort_values('usd_per_passenger', ascending=False)['trip_distance'].head(5).iloc[:5]

6757567     0.9
3582605     6.1
3582481     1.2
2007665    10.6
2007664     2.5
Name: trip_distance, dtype: float64

# Beyond 1
### In which five rides did people pay the most per mile? How far did people go on those trips?

In [50]:
df = pd.read_csv('../data_sets/nyc_taxi_2019-01.csv',
                 usecols=['passenger_count', 'trip_distance', 'total_amount'])
df = df[df['trip_distance'] !=0]
df['usd_per_mile'] = df['total_amount']/df['trip_distance']
df.sort_values('usd_per_mile').tail(5)

         passenger_count  trip_distance  total_amount   usd_per_mile
4136499                1           0.01        273.96   27396.000000
6403254                1           0.01        322.30   32230.000000
7099014                4           0.01        415.30   41530.000000
478791                 1           0.10       6667.45   66674.500000
2499600                1           2.40     623261.66  259692.358333

In [51]:
df.sort_values('usd_per_mile', ascending=False)['trip_distance'].head(5).iloc[:5]

2499600    2.40
478791     0.10
7099014    0.01
6403254    0.01
4136499    0.01
Name: trip_distance, dtype: float64

# Beyond 2
### Letâ€™s assume that multipassenger rides are split evenly among the passengers. Given that assumption, in which 10 multipassenger rides did each individual pay the greatest amount?

In [52]:
# Author's mistake by having missed:
# df = pd.read_csv('../data_sets/nyc_taxi_2019-01.csv',
#                  usecols=['passenger_count', 'trip_distance', 'total_amount'])
df = df[df['passenger_count'] >= 2]
df['amount_per_passenger'] = df['total_amount'] / df['passenger_count']
df.sort_values('amount_per_passenger').tail(10)

,passenger_count,trip_distance,total_amount,usd_per_mile,amount_per_passenger
5031491,2,64.30,343.32,5.339347,171.66
4563340,2,0.40,350.30,875.750000,175.15
4202883,2,60.23,369.06,6.127511,184.53
4751745,2,100.78,403.50,4.003771,201.75
5726185,2,65.05,416.82,6.407686,208.41
149362,2,17.20,426.80,24.813953,213.40
7593395,2,83.61,449.32,5.373998,224.66
3842620,2,110.04,515.82,4.687568,257.91
3014027,2,16.60,560.76,33.780723,280.38
2972145,2,19.90,589.96,29.646231,294.98

In [46]:

df.sort_values('amount_per_passenger', ascending=True)['trip_distance'].iloc[-10:]

1154626      0.00
4751745    100.78
6496403      0.00
6857368      0.00
5726185     65.05
149362      17.20
7593395     83.61
3842620    110.04
3014027     16.60
2972145     19.90
Name: trip_distance, dtype: float64

# Beyond 3
### In the exercise solution, I showed that we needed to use iloc or head/tail to retrieve the first/last 20 rows because the index was scrambled after our sort operation. But you can pass ignore_index=True to sort_values: then the resulting data frame has a numeric index starting at 0. Use this option and loc operation to get the mean total_amount for the 20 longest trips.

In [49]:
df.sort_values('trip_distance', 
               ascending=False, 
               ignore_index=True)['total_amount'].loc[:20].mean()

253.65904761904767