In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('../data_sets/nyc_taxi_2019-01.csv',
                 usecols=['passenger_count', 'trip_distance', 'total_amount'])

In [4]:
df.head()

   passenger_count  trip_distance  total_amount
0                1            1.5          9.95
1                1            2.6         16.30
2                3            0.0          5.80
3                5            0.0          7.55
4                5            0.0         55.55

In [12]:
(df
.sort_values('trip_distance', ascending=False)['total_amount']
.head(20)
.mean()
.round())

290.0

In [17]:
(df
.sort_values('trip_distance', ascending=True)['total_amount'][-20:]
.mean()
.round(2)
)

290.01

### Sort by ascending passenger count and descending trip distance. (So, start with the longest trip with 0 passengers and end with the shortest trip with 9 passengers.) What is the average price paid for the top 50 rides?

In [18]:
(df
.sort_values(['passenger_count', 'trip_distance'], ascending=[True, False])['total_amount']
.head(50)
.mean().
round(2))

135.5

In [19]:
(df
.sort_values(['passenger_count', 'trip_distance'], ascending=[True, False])['total_amount']
.head(10))

3528550    320.30
3296320    336.35
1878399    227.56
5549709    260.30
4176048    200.06
5052064    234.06
2715777      0.30
515765     163.26
1274793    112.56
1904745    124.80
Name: total_amount, dtype: float64

# Beyond 1
### In which five rides did people pay the most per mile? How far did people go on those trips?

In [32]:
df = pd.read_csv('../data_sets/nyc_taxi_2019-01.csv',
                 usecols=['passenger_count', 'trip_distance', 'total_amount'])

In [33]:
df = df[df['trip_distance'] !=0]

In [35]:
df['usd_per_mile'] = df['total_amount']/df['trip_distance'] 
df.sort_values('usd_per_mile').tail(5) 
# df.sort_values('passenger_count', ascending=False).head(5)

         passenger_count  trip_distance  total_amount   usd_per_mile
4136499                1           0.01        273.96   27396.000000
6403254                1           0.01        322.30   32230.000000
7099014                4           0.01        415.30   41530.000000
478791                 1           0.10       6667.45   66674.500000
2499600                1           2.40     623261.66  259692.358333

In [28]:
df.sort_values('usd_per_mile', ascending=False).head(5)

,passenger_count,trip_distance,total_amount,usd_per_mile,usd_per_passenger
1129038,1,0.0,3.30,inf,3.300
3171442,1,0.0,3.30,inf,3.300
4570397,2,0.0,63.35,inf,31.675
6613865,2,0.0,70.90,inf,35.450
5708974,1,0.0,63.06,inf,63.060

In [25]:
df.sort_values('usd_per_passenger', ascending=False)['trip_distance'].head(5).iloc[:5]

6757567     0.9
3582605     6.1
3582481     1.2
2007665    10.6
2007664     2.5
Name: trip_distance, dtype: float64