In [1]:
import pandas as pd

In [2]:
# 1
df = pd.read_csv('../data_sets/nyc_taxi_2019-01.csv',
                 usecols=['passenger_count', 'trip_distance', 'total_amount'])

df.head()

   passenger_count  trip_distance  total_amount
0                1            1.5          9.95
1                1            2.6         16.30
2                3            0.0          5.80
3                5            0.0          7.55
4                5            0.0         55.55

In [3]:
# 2 
df.groupby('passenger_count')['total_amount'].mean().sort_values()

# df.groupby('passenger_count', sort=True)['total_amount'].agg('mean').plot(kind='bar')

# df.groupby('passenger_count', sort=True)['total_amount'].agg('mean').plot(kind='bar', figsize=(10, 6))

# df.groupby('passenger_count', sort=True)['total_amount'].agg('mean').plot(kind='bar', figsize=(10, 6), title='Mean Total Amount by Passenger Count')

# df.groupby('passenger_count', sort=True)['total_amount'].agg('mean').plot(kind='bar', figsize=(10, 6), title='Mean Total Amount by Passenger Count')

passenger_count
6    15.437892
5    15.546940
3    15.604015
1    15.609601
4    15.650307
2    15.831294
0    18.663658
9    31.094444
7    48.278421
8    64.105517
Name: total_amount, dtype: float64

In [4]:
df.groupby('passenger_count')['total_amount'].mean()

passenger_count
0    18.663658
1    15.609601
2    15.831294
3    15.604015
4    15.650307
5    15.546940
6    15.437892
7    48.278421
8    64.105517
9    31.094444
Name: total_amount, dtype: float64

In [5]:
# 3
df['trip_distance_group'] = pd.cut(df['trip_distance'], [df['trip_distance'].min(), 2, 10, df['trip_distance'].max()], labels=['short', 'medium', 'long'], include_lowest=True)

In [6]:
df['trip_distance_group'].value_counts()

trip_distance_group
short     4823186
medium    2420887
long       423719
Name: count, dtype: int64

In [7]:
df.groupby('trip_distance_group', observed=True)['passenger_count'].mean().sort_values(ascending=False)

trip_distance_group
long      1.590035
medium    1.585319
short     1.555906
Name: passenger_count, dtype: float64

# Beyond 1
### Create a single data frame containing rides from both January 2019 and January 2020, with a column year indicating which year the ride comes from. Use groupby to compare the average cost of a taxi in January from each of these two years.

In [8]:
df_2019 = pd.read_csv('../data_sets/nyc_taxi_2019-01.csv', usecols=['passenger_count',
                         'trip_distance', 'total_amount'])
df_2020 = pd.read_csv('../data_sets/nyc_taxi_2020-01.csv', usecols=['passenger_count',
                         'trip_distance', 'total_amount'])
df_2019['year'] = 2019
df_2020['year'] = 2020
df = pd.concat([df_2019, df_2020])
df.head()

   passenger_count  trip_distance  total_amount  year
0              1.0            1.5          9.95  2019
1              1.0            2.6         16.30  2019
2              3.0            0.0          5.80  2019
3              5.0            0.0          7.55  2019
4              5.0            0.0         55.55  2019

In [9]:
df.groupby('year')['total_amount'].mean()

year
2019    15.682222
2020    18.663149
Name: total_amount, dtype: float64

# Beyond 2
### Create a two-level grouping, first by year and then by passenger_count.

In [10]:
df.groupby(['year', 'passenger_count'])['total_amount'].mean()

year  passenger_count
2019  0.0                18.663658
      1.0                15.609601
      2.0                15.831294
      3.0                15.604015
      4.0                15.650307
      5.0                15.546940
      6.0                15.437892
      7.0                48.278421
      8.0                64.105517
      9.0                31.094444
2020  0.0                18.059724
      1.0                18.343110
      2.0                19.050504
      3.0                18.736862
      4.0                19.128092
      5.0                18.234443
      6.0                18.367962
      7.0                71.143103
      8.0                58.197059
      9.0                81.244211
Name: total_amount, dtype: float64

# Beyond 3
### The corr method allows us to see how strongly two columns correlate with one another. Use corr and then sort_values to find which columns have the highest correlation.

In [11]:
df.corr()

                 passenger_count  trip_distance  total_amount      year
passenger_count         1.000000       0.008974     -0.000136 -0.021602
trip_distance           0.008974       1.000000      0.004331  0.001140
total_amount           -0.000136       0.004331      1.000000  0.007657
year                   -0.021602       0.001140      0.007657  1.000000

In [12]:
df.corr().sort_values('passenger_count')

                 passenger_count  trip_distance  total_amount      year
year                   -0.021602       0.001140      0.007657  1.000000
total_amount           -0.000136       0.004331      1.000000  0.007657
trip_distance           0.008974       1.000000      0.004331  0.001140
passenger_count         1.000000       0.008974     -0.000136 -0.021602