In [1]:
import pandas as pd
from pandas import DataFrame, Series

In [2]:
trip_distance = pd.read_csv('../data_sets/taxi-distance.csv', header=None).squeeze()
passenger_count = pd.read_csv('../data_sets/taxi-passenger-count.csv', header=None).squeeze()

df = DataFrame({'trip_distance': trip_distance,
                'passenger_count': passenger_count})

In [3]:
df

      trip_distance  passenger_count
0              1.63                1
1              0.46                1
2              0.87                1
3              2.13                1
4              1.40                1
...             ...              ...
9994           2.70                1
9995           4.50                1
9996           5.59                1
9997           1.54                6
9998           5.80                1

[9999 rows x 2 columns]

In [20]:
IQR = df['trip_distance'].quantile(0.75) - df['trip_distance'].quantile(0.25)
IQR

2.3

In [21]:
df[
    df['trip_distance'] > df['trip_distance'].quantile(0.75) +
    1.5*IQR
]

      trip_distance  passenger_count
7             11.90                4
60             9.30                1
73            12.65                1
82            10.24                3
88            23.76                2
...             ...              ...
9975           7.60                1
9976          12.60                1
9979          11.30                1
9980           9.13                1
9982           9.30                1

[1219 rows x 2 columns]