In [15]:
import pandas as pd
import numpy as np
from numpy import nan

In [16]:
temp_data = pd.read_csv('../data_sets/nyc-temps.txt').squeeze()
temp_data

0     -1
1     -1
2     -1
3     -1
4     -1
      ..
723    2
724    2
725    2
726    2
727    2
Name: -1, Length: 728, dtype: int64

In [27]:
df = pd.DataFrame({'Temperature':temp_data, 'Hour': [0, 3, 6, 9, 12, 15, 18, 21]*91})
df

     Temperature  Hour
0             -1     0
1             -1     3
2             -1     6
3             -1     9
4             -1    12
..           ...   ...
723            2     9
724            2    12
725            2    15
726            2    18
727            2    21

[728 rows x 2 columns]

In [29]:
df.describe()

       Temperature        Hour
count   728.000000  728.000000
mean     -1.050824   10.500000
std       5.026357    6.878589
min     -14.000000    0.000000
25%      -4.000000    5.250000
50%       0.000000   10.500000
75%       2.000000   15.750000
max      12.000000   21.000000

In [18]:
df.loc[df['Hour'].isin([3, 6]), 'Temperature'] = nan

In [19]:
df.interpolate().describe()

       Temperature        Hour
count   728.000000  728.000000
mean     -1.050824   10.500000
std       5.026357    6.878589
min     -14.000000    0.000000
25%      -4.000000    5.250000
50%       0.000000   10.500000
75%       2.000000   15.750000
max      12.000000   21.000000

# Beyond 1
### How does the behavior of interpolate change if you use method='nearest'?

In [20]:
df.interpolate(method='nearest').describe()

       Temperature        Hour
count   728.000000  728.000000
mean     -1.050824   10.500000
std       5.026357    6.878589
min     -14.000000    0.000000
25%      -4.000000    5.250000
50%       0.000000   10.500000
75%       2.000000   15.750000
max      12.000000   21.000000

### Apparently methodf='nearest' does not change behaviour of interpolation

# Beyond 2
### Let’s assume the equipment works fine around the clock but fails to record readings at –1 degrees and below. Are the interpolated values similar to the real (missing) values they replace? Why or why not?

In [21]:
df.loc[df['Temperature'] <= -1, 'Temperature'] = nan
df.interpolate().describe()

       Temperature        Hour
count   721.000000  728.000000
mean      2.022191   10.500000
std       2.345483    6.878589
min       0.000000    0.000000
25%       0.209524    5.250000
50%       1.000000   10.500000
75%       3.000000   15.750000
max      12.000000   21.000000

### No they are not similar to the real values because we removed a chunk of array thus shifting mean etc.

# Beyond 3
### A cheap solution to interpolation is to replace NaN values with the column’s mean. Do this (with the missing values from –1 and below), and compare the new mean and median. Again, why are (or aren’t) these values similar to the original ones?

In [22]:
df = pd.DataFrame({'Temperature':temp_data, 'Hour': [0, 3, 6, 9, 12, 15, 18, 21]*91})
df

     Temperature  Hour
0             -1     0
1             -1     3
2             -1     6
3             -1     9
4             -1    12
..           ...   ...
723            2     9
724            2    12
725            2    15
726            2    18
727            2    21

[728 rows x 2 columns]

In [23]:
df.loc[df['Temperature'] <= -1, 'Temperature'] = df['Temperature'].mean()
df.interpolate().describe()

/tmp/ipykernel_97553/2823185992.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-1.0508241758241759' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['Temperature'] <= -1, 'Temperature'] = df['Temperature'].mean()

       Temperature        Hour
count   728.000000  728.000000
mean      0.924671   10.500000
std       2.717596    6.878589
min      -1.050824    0.000000
25%      -1.050824    5.250000
50%       0.000000   10.500000
75%       2.000000   15.750000
max      12.000000   21.000000

### Mean shifted to lower values. Median unchanged.