In [21]:
import pandas as pd
from pandas import DataFrame, Series

In [22]:
trip_distance = pd.read_csv('../data_sets/taxi-distance.csv', header=None).squeeze()
passenger_count = pd.read_csv('../data_sets/taxi-passenger-count.csv', header=None).squeeze()

df = DataFrame({'trip_distance': trip_distance,
                'passenger_count': passenger_count})

In [23]:
df

      trip_distance  passenger_count
0              1.63                1
1              0.46                1
2              0.87                1
3              2.13                1
4              1.40                1
...             ...              ...
9994           2.70                1
9995           4.50                1
9996           5.59                1
9997           1.54                6
9998           5.80                1

[9999 rows x 2 columns]

In [24]:
IQR = df['trip_distance'].quantile(0.75) - df['trip_distance'].quantile(0.25)
IQR

2.3

In [25]:
df[
    df['trip_distance'] < df['trip_distance'].quantile(0.25) - 1.5*IQR
].count()

trip_distance      0
passenger_count    0
dtype: int64

In [26]:
df[
    df['trip_distance'] > df['trip_distance'].quantile(0.75) + 1.5*IQR].count()

trip_distance      1219
passenger_count    1219
dtype: int64

In [27]:
df['passenger_count'][df['trip_distance'] > df['trip_distance'].quantile(0.75) + 1.5 * IQR].mean()

1.7301066447908122

In [28]:
df['passenger_count'].mean()

1.6594659465946595

In [29]:
df['trip_distance'].mean()

3.1585108510851083

# Beyond 1
### If you define outliers to be the lowest 10% and highest 10% of values, how many were there? Why is (or isn’t) this a good measure?

In [33]:
df[(df['trip_distance'] < df['trip_distance'].quantile(0.1))| (df['trip_distance'] > df['trip_distance'].quantile(0.9))].count()

trip_distance      1984
passenger_count    1984
dtype: int64

In [ ]:
df[df['trip_distance'] > df['trip_distance'].quantile(0.9)].count()

trip_distance      999
passenger_count    999
dtype: int64

In [ ]:
df[(df['trip_distance'] < df['trip_distance'].quantile(0.1)) |
    (df['trip_distance'] > df['trip_distance'].quantile(0.9))]

      trip_distance  passenger_count
1              0.46                1
7             11.90                4
9              0.60                1
10             0.01                3
13             0.50                2
...             ...              ...
9976          12.60                1
9978           0.38                1
9979          11.30                1
9980           9.13                1
9982           9.30                1

[1984 rows x 2 columns]

# Beyond 2
### How many short, medium, and long trips had only one passenger? Note that data for passenger count and trip length are from the same data set, meaning the indexes are the same. If you’re only interested in removing the non-outlier values, you can use the scipy.stats.trimboth function on your series. It takes a second argument: the proportion you want to cut from both the top and bottom.

In [ ]:
from scipy.stats import trimboth
len(trimboth(df['trip_distance'], 0.1))

8001

In [ ]:
df['trip_distance'].max()

64.6

In [ ]:
df['trip_distance'].min()

0.0

In [ ]:
df.loc[df['trip_distance'].quantile(0.25), ['passenger_count']]

passenger_count    1.0
Name: 1, dtype: float64

In [ ]:
df[df['passenger_count']==1][df['trip_distance'] < df['trip_distance'].max()*0.25]

/tmp/ipykernel_63200/2857276141.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df['passenger_count']==1][df['trip_distance'] < df['trip_distance'].max()*0.25]

      trip_distance  passenger_count
0              1.63                1
1              0.46                1
2              0.87                1
3              2.13                1
4              1.40                1
...             ...              ...
9993           4.10                1
9994           2.70                1
9995           4.50                1
9996           5.59                1
9998           5.80                1

[7025 rows x 2 columns]

In [ ]:
df[df['passenger_count']==1][(df['trip_distance'] < df['trip_distance'].max()*0.75) & (df['trip_distance'] > df['trip_distance'].max()*0.25)]

/tmp/ipykernel_63200/794906231.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df['passenger_count']==1][(df['trip_distance'] < df['trip_distance'].max()*0.75) & (df['trip_distance'] > df['trip_distance'].max()*0.25)]

      trip_distance  passenger_count
238           18.32                1
509           16.82                1
641           19.72                1
663           17.87                1
723           17.20                1
...             ...              ...
9855          17.57                1
9857          17.40                1
9884          19.14                1
9906          17.70                1
9964          18.55                1

[180 rows x 2 columns]

In [35]:
df[df['passenger_count']==1][df['trip_distance'] > df['trip_distance'].max()*0.75]

/tmp/ipykernel_63200/1497749939.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df['passenger_count']==1][df['trip_distance'] > df['trip_distance'].max()*0.75]

      trip_distance  passenger_count
4270           64.6                1
8513           60.3                1

# Beyond 3
### The scipy.stats.zscore function rescales and centers (that is, normalizes) the data set. In this case, the mean is set to 0, and values can be above and below that value. Find all the distances for which the absolute value of the z-score is greater than 3.

In [36]:
from scipy.stats import zscore

In [37]:
df['trip_distance'][abs(zscore(df['trip_distance'])) > 3]

88      23.76
238     18.32
379     16.38
509     16.82
641     19.72
        ...
9897    16.11
9899    17.48
9906    17.70
9955    15.49
9964    18.55
Name: trip_distance, Length: 306, dtype: float64