In [64]:
import pandas as pd
import numpy as np

In [65]:
df = pd.read_csv('../data_sets/nyc_taxi_2019-01.csv', usecols=['passenger_count', 'trip_distance', 'payment_type', 'total_amount'])
df.head()

   passenger_count  trip_distance  payment_type  total_amount
0                1            1.5             1          9.95
1                1            2.6             1         16.30
2                3            0.0             1          5.80
3                5            0.0             2          7.55
4                5            0.0             2         55.55

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7667792 entries, 0 to 7667791
Data columns (total 4 columns):
 #   Column           Dtype
---  ------           -----
 0   passenger_count  int64
 1   trip_distance    float64
 2   payment_type     int64
 3   total_amount     float64
dtypes: float64(2), int64(2)
memory usage: 234.0 MB

### How many taxi rides had more than eight passengers?

In [67]:
df.loc[df['passenger_count'] > 8, 'passenger_count'].count()

9

In [68]:
df.loc[df['passenger_count'] == 0, 'passenger_count'].count()

117381

### How many taxi rides were paid for in cash and cost over $1,000?

In [69]:
df.loc[(df['payment_type'] == 2 ) & (df['total_amount'] > 1000), 'passenger_count']. count()

5

### How many rides cost less than $0?

In [70]:
df.loc[df['total_amount'] < 0, 'total_amount'].count()

7131

### How many rides traveled a below-average distance but cost an above-average amount?

In [71]:
df.loc[(df['trip_distance'] < df['trip_distance'].mean()) & (df['total_amount'] > df['total_amount'].mean()), 'trip_distance'].count()

411255

In [72]:
df['trip_distance'].mean()

2.8010838491706607

In [73]:
df['total_amount'].mean()

15.68222215991253

# Beyond 1
### Repeat this exercise using the query method rather than a boolean index and loc.

In [74]:
df.query('passenger_count > 8')['passenger_count'].count()

9

In [75]:
df.query('passenger_count == 0')['passenger_count'].count()

117381

In [76]:
df.query('(payment_type == 2) & (total_amount > 1000)')['passenger_count'].count()

5

In [77]:
df.query('(trip_distance < trip_distance.mean()) & (total_amount > total_amount.mean())')['payment_type'].count()

411255

In [78]:
df.query('total_amount < 0')['total_amount'].count()

7131

# Beyond 2
### How many rides that cost less than $0 involved either a dispute (payment_type of 4) or a voided trip (payment_type of 6)?

In [79]:
df.loc[(df['total_amount'] < 0) & ((df['payment_type'] == 4) | (df['payment_type'] == 6)), 'payment_type'].count()

2666

# Beyond 3
### I stated earlier that most people pay for taxi rides using a credit card. Show this, and find what percentage normally pays in cash versus a credit card.

In [84]:
df.loc[df['payment_type'] == 2, 'payment_type'].count() / df['payment_type'].count()

0.2787523448732047

In [85]:
df['payment_type'].value_counts(normalize=True)[[1, 2]]

payment_type
1    0.715464
2    0.278752
Name: proportion, dtype: float64