In [1]:
import pandas as pd
import numpy as np

In [9]:
df_2019 = pd.read_csv('../data_sets/nyc_taxi_2019-07.csv', usecols=['passenger_count', 'payment_type', 'total_amount'])
df_2020 = pd.read_csv('../data_sets/nyc_taxi_2020-07.csv', usecols=['passenger_count', 'payment_type', 'total_amount'])

In [11]:
df_2019['year'] = 2019
df_2020['year'] = 2020

In [13]:
df = pd.concat([df_2019, df_2020])
df.tail()

        passenger_count  payment_type  total_amount  year
800407              NaN           NaN         83.50  2020
800408              NaN           NaN         19.78  2020
800409              NaN           NaN         38.45  2020
800410              NaN           NaN         29.77  2020
800411              NaN           NaN         51.90  2020

### How many rides were taken in 2019 and 2020, and what is the difference between these two figures?

In [18]:
rides_2019 = df.loc[df['year'] == 2019, 'passenger_count'].count()
rides_2019

6276460

In [17]:
rides_2020 = df.loc[df['year'] == 2020, 'passenger_count'].count()
rides_2020

737565

In [21]:
rides_2019 / rides_2020

8.509704229457743

In [20]:
difference = rides_2019 - rides_2020
difference

5538895

### Answer: in 2020 taxi rides were almost 5.5 mln less than in pre-Covid 2019. That is almost 8 times less.

### Question: How much money (in total) was collected in 2019 and 2020, and what was the
### difference between these two figures?

In [25]:
money_2019 = df.loc[df['year'] == 2019, 'total_amount' ].sum()
money_2019 = round(money_2019)
money_2019

123761823

In [26]:
money_2020 = df.loc[df['year'] == 2020, 'total_amount' ].sum()
money_2020 = round(money_2020)
money_2020

14912844

In [27]:
print(money_2019/money_2020)
print(money_2019 - money_2020)

8.299008760502021
108848979

### Answer: in 2020 it was collected almost less than 108 mln than in 2019, i.e. over 8 times less.

### Question: did the proportion of trips with more than one passenger change dramatically?

In [34]:
one_2019 = df.loc[(df['year'] == 2019 ) & (df['passenger_count'] > 1), 'passenger_count'].count() / df.loc[df['year'] == 2019 , 'passenger_count'].count()
one_2019

0.2833900000955953

In [36]:
one_2020 = df.loc[(df['year'] == 2020 ) & (df['passenger_count'] > 1), 'passenger_count'].count() / df.loc[df['year'] == 2020 , 'passenger_count'].count()
one_2020

0.2061513222563435

### Question: did people use cash (i.e., payment_type of 2) less in 2020 than in 2019?

In [37]:
cash_2019 = df.loc[(df['year'] == 2019) & (df['payment_type'] == 2), 'payment_type'].count()
cash_2020 = df.loc[(df['year'] == 2020) & (df['payment_type'] == 2), 'payment_type'].count()

In [38]:
cash_2019 - cash_2020

1565285

### Yes, people paid in cash in 2020 less than 1.5 mln times.

In [39]:
proportion_cash_2019 = (df.loc[(df['year'] == 2019) & (df['payment_type'] == 2), 'payment_type'].count()) / (df.loc[df['year'] == 2019, 'payment_type'].count())
proportion_cash_2019

0.2870595845428793

In [40]:
proportion_cash_2020 = (df.loc[(df['year'] == 2020) & (df['payment_type'] == 2), 'payment_type'].count()) / (df.loc[df['year'] == 2020, 'payment_type'].count())
proportion_cash_2020

0.320558865998251

### However people paid in cash in 07-2020 almost 4% more often than in 07-2019.

# Beyond 1
### Use the corr method on df to find the correlations among the columns. How would you interpret these results?

In [41]:
df.corr()

                 passenger_count  payment_type  total_amount      year
passenger_count         1.000000      0.016410      0.014943 -0.049558
payment_type            0.016410      1.000000     -0.138561  0.029277
total_amount            0.014943     -0.138561      1.000000 -0.019706
year                   -0.049558      0.029277     -0.019706  1.000000

# Beyond 2
### Show, with a single command, the difference in descriptive statistics for
### total_amount between 2019 and 2020. Round values to use no more than two
#### digits after the decimal point.

In [45]:
(df.loc[df['year'] == 2020, 'total_amount']).describe().round(2) - (df.loc[df['year'] == 2019, 'total_amount']).describe().round(2)

count   -5510007.00
mean          -0.98
std           -0.75
min           53.20
25%           -0.50
50%           -0.60
75%           -0.75
max        -4672.45
Name: total_amount, dtype: float64

# Beyond 3
### If we assume that zero-passenger trips are for delivering packages, how were
### those affected during the pandemic? Show the proportion of such trips in 2019
### versus 2020.

In [48]:
zero_2019 = df.loc[(df['year'] == 2019) & (df['passenger_count'] == 0), 'passenger_count'].count() / df.loc[df['year'] == 2019, 'passenger_count'].count()
zero_2019

0.018622599363335383

In [49]:
zero_2020 = df.loc[(df['year'] == 2020) & (df['passenger_count'] == 0), 'passenger_count'].count() / df.loc[df['year'] == 2020, 'passenger_count'].count()
zero_2020

0.026446482682882185