In [19]:
import pandas as pd

In [65]:
df = pd.read_json('../data_sets/cities.json')
df.head()

,city,growth_from_2000_to_2013,latitude,longitude,population,rank,state
0,New York,4.8%,40.712784,-74.005941,8405837,1,New York
1,Los Angeles,4.8%,34.052234,-118.243685,3884307,2,California
2,Chicago,-6.1%,41.878114,-87.629798,2718782,3,Illinois
3,Houston,11.0%,29.760427,-95.369803,2195914,4,Texas
4,Philadelphia,2.6%,39.952584,-75.165222,1553165,5,Pennsylvania

### Question: What are the mean and median populations for these 1,000 largest cities? What
### does that tell you?

In [21]:
df['population'].describe()

count    1.000000e+03
mean     1.311324e+05
std      3.416902e+05
min      3.687700e+04
25%      4.969775e+04
50%      6.820700e+04
75%      1.098850e+05
max      8.405837e+06
Name: population, dtype: float64

### Mean os higher than median means that there are more less populated cities.

# Question: 
### Along these lines, if you remove the 50 most populous cities, what happens to
### the mean population? What happens to the median?

In [22]:
df_less_50 = df['population'].sort_values(ascending=False)[50:]

In [23]:
df_less_50.describe()

count       950.000000
mean      87027.387368
std       58652.956490
min       36877.000000
25%       48989.500000
50%       65796.000000
75%      100842.000000
max      378715.000000
Name: population, dtype: float64

In [24]:
df.loc[50:, 'population'].describe()[['mean', '50%']]

mean    87027.387368
50%     65796.000000
Name: population, dtype: float64

In [26]:
df['population'].describe()[['mean', '50%']]

mean    131132.443
50%      68207.000
Name: population, dtype: float64

# Question:
### What is the northernmost city, and where does it rank?

In [28]:
df.loc[df['latitude'] == df['latitude'].max(), ['city', 'state', 'rank']]

         city   state  rank
62  Anchorage  Alaska    63

In [29]:
df.head()

,city,growth_from_2000_to_2013,latitude,longitude,population,rank,state
0,New York,4.8%,40.712784,-74.005941,8405837,1,New York
1,Los Angeles,4.8%,34.052234,-118.243685,3884307,2,California
2,Chicago,-6.1%,41.878114,-87.629798,2718782,3,Illinois
3,Houston,11.0%,29.760427,-95.369803,2195914,4,Texas
4,Philadelphia,2.6%,39.952584,-75.165222,1553165,5,Pennsylvania

In [39]:
df['growth_from_2000_to_2013'].count()

1000

# Question:
### Which state has the largest number of cities on this list?

In [30]:
df['state']. value_counts().head(1)

state
California    212
Name: count, dtype: int64

# Question
### Which state has the smallest number of cities on this list?

In [31]:
df['state']. value_counts().tail(1)

state
Vermont    1
Name: count, dtype: int64

# Beyond 1
### Convert the growth_from_2000_to_2013 column into a floating-point number.
### Then find the mean and median changes in city size between 2000 and 2013. If
### a city has no recorded growth, set it to 0.

In [32]:
import numpy as np

In [66]:
df['growth_from_2000_to_2013'] = df['growth_from_2000_to_2013'].str.strip('%')
# .astype(np.float64)
df.loc[df['growth_from_2000_to_2013'] == '', 'growth_from_2000_to_2013'] = 0

In [67]:
# df['growth_from_2000_to_2013'] = df['growth_from_2000_to_2013'].astype(np.float16)

In [68]:
df['growth_from_2000_to_2013'].astype(np.float16).describe()[['mean', '50%']]

/home/mike-pi/miniconda3/envs/pandaswout/lib/python3.12/site-packages/pandas/core/nanops.py:1016: RuntimeWarning: overflow encountered in square
  sqr = _ensure_numeric((avg - values) ** 2)

mean    22.937500
50%      9.652344
Name: growth_from_2000_to_2013, dtype: float64

# Beyond 2
### How many cities had positive growth in this period, and how many had negative growth?

In [77]:
df.loc[df['growth_from_2000_to_2013'].astype(float) > 0, 'city'].count()

847

In [80]:
df.loc[df['growth_from_2000_to_2013'].astype(float) <= 0, 'city'].count()

153

In [76]:
pd.cut(df['growth_from_2000_to_2013'].astype(float),
        bins=[df['growth_from_2000_to_2013'].astype(float).min(), 0, df['growth_from_2000_to_2013'].astype(float).max()],
        include_lowest=True,
        labels=['-', '+']).value_counts()

growth_from_2000_to_2013
+    847
-    153
Name: count, dtype: int64

# Beyond 3
### Find the city or cities with latitudes more than two standard deviations from the mean.

In [81]:
from scipy.stats import zscore

In [88]:
zscore(df['latitude'])

0      0.639544
1     -0.622764
2      0.860397
3     -1.436148
4      0.495470
         ...
995   -2.118592
996    1.450184
997    0.526243
998    0.979839
999   -1.360646
Name: latitude, Length: 1000, dtype: float64

In [91]:
df.loc[(df['latitude'] > df['latitude'].mean() + 2*df['latitude'].std()) | (df['latitude'] < df['latitude'].mean() - 2*df['latitude'].std()), 'city'].count()

52

In [104]:
df.loc[zscore(df['latitude']) > 2, 'city'].count()

6

In [105]:
df.loc[zscore(df['latitude']) < -2, 'city'].count()

46