In [1]:
import pandas as pd

In [18]:
df = pd.read_csv('https://api.blockchain.info/charts/market-price?format=csv', header=None, names=['date', 'value'])
df.head()

                  date     value
0  2023-09-02 00:00:00  25802.10
1  2023-09-03 00:00:00  25869.09
2  2023-09-04 00:00:00  25969.05
3  2023-09-05 00:00:00  25810.86
4  2023-09-06 00:00:00  25785.30

In [19]:
df.tail()

                    date     value
361  2024-08-28 00:00:00  59466.82
362  2024-08-29 00:00:00  59024.11
363  2024-08-30 00:00:00  59389.34
364  2024-08-31 00:00:00  59108.23
365  2024-09-01 00:00:00  58968.91

### Question: The closing price for the most recent trading day

In [13]:
df.shape

(365, 2)

In [24]:
df.tail(1)[['value']]

        value
365  58968.91

In [4]:
df.iloc[-1, 1]

58968.91

### The lowest historical price and the date of that price

In [25]:
df.loc[df['value'] == df['value'].min(), ['date', 'value']]

                   date    value
10  2023-09-12 00:00:00  25162.7

### The highest historical price and the date of that price

In [27]:
df.loc[df['value'] == df['value'].max(), ['date', 'value']]

                    date     value
194  2024-03-14 00:00:00  73094.37

In [28]:
df.set_index('date').agg(['idxmin', 'idxmax'])

                      value
idxmin  2023-09-12 00:00:00
idxmax  2024-03-14 00:00:00

In [29]:
df.head()

                  date     value
0  2023-09-02 00:00:00  25802.10
1  2023-09-03 00:00:00  25869.09
2  2023-09-04 00:00:00  25969.05
3  2023-09-05 00:00:00  25810.86
4  2023-09-06 00:00:00  25785.30

In [32]:
df.set_index('date').idxmax()

value    2024-03-14 00:00:00
dtype: object

In [62]:
df.loc[(df['value'].idxmax()), ['date', 'value']]

date     2024-03-14 00:00:00
value               73094.37
Name: 194, dtype: object

# Beyond 1
### In this exercise, you downloaded the information into a data frame and then
### performed calculations on it. Without assigning the downloaded data to an
### interim variable, can you return the current value? Your solution should consist
### of a single line of code that includes the download, selection, and calculation.

In [63]:
pd.read_csv('https://api.blockchain.info/charts/market-price?format=csv', 
            header=None, 
            names=['date', 'value']).tail(1)['value']

365    58968.91
Name: value, dtype: float64

# Beyond 2
### The pd.read_html function, like pd.read_csv, takes a file-like object or a URL. It assumes that it will encounter HTML-formatted text containing at least one table. It turns each table into a data frame and then returns a list of those dataframes. With this in mind, retrieve one year of historical S&P 500 data from Yahoo Finance (https://finance.yahoo.com/quote/%5EGSPC/history?p=% 5EGSPC), looking only at the Date, Close, and Volume columns. Show the date and volume of the days with the highest and lowest Close values. Note that Yahoo seems to look at the User-Agent header in the HTTP request, which cannot be set in read_html. So you’ll need to use requests to retrieve the data, setting User-Agent to a string equal to 'Mozilla 5.0'. Turn the content of the result into a StringIO, and then feed that to read_html and retrieve the data.

In [66]:
import requests as re
from io import StringIO

In [71]:
r = re.get('https://finance.yahoo.com/quote/%5EGSPC/history?p=%5EGSPC',
           headers={'User-Agent': 'Mozilla/5.0'})

In [78]:
df = pd.read_html(StringIO(r.content.decode()))[0].set_index('Date').iloc[:-1]

In [82]:
import numpy as np

In [81]:
df

,Open,High,Low,Close Close price adjusted for splits.,Adj Close Adjusted close price adjusted for splits and dividend and/or capital gain distributions.,Volume
Date,,,,,,
"Aug 30, 2024",5612.74,5651.37,5581.79,5648.40,5648.40,4185850000
"Aug 29, 2024",5607.30,5646.95,5583.71,5591.96,5591.96,3065640000
"Aug 28, 2024",5624.51,5627.03,5560.95,5592.18,5592.18,3053450000
"Aug 27, 2024",5602.89,5631.18,5593.48,5625.80,5625.80,2798990000
"Aug 26, 2024",5639.66,5651.62,5602.34,5616.84,5616.84,2938570000
...,...,...,...,...,...,...
"Sep 8, 2023",4451.30,4473.53,4448.38,4457.49,4457.49,3259290000
"Sep 7, 2023",4434.55,4457.81,4430.46,4451.14,4451.14,3763760000
"Sep 6, 2023",4490.35,4490.35,4442.38,4465.48,4465.48,3418850000
"Sep 5, 2023",4510.06,4514.29,4496.01,4496.83,4496.83,3526250000
"Sep 1, 2023",4530.60,4541.25,4501.35,4515.77,4515.77,3246260000

In [91]:
df['Close'] = df['Close Close price adjusted for splits.'].astype(np.float64)

In [89]:
df.loc[df['Close'] == df['Close'].max(), ['Volume']]

                  Volume
Date
Jul 16, 2024  4041760000

In [90]:
df.loc[df['Close'] == df['Close'].min(), ['Volume']]

                  Volume
Date
Oct 27, 2023  4019500000

In [95]:
df['Volume'].dtype

dtype('int64')

# Beyond 3
### Create a two-row data frame with the highest and lowest closing prices for the S&P 500. Use the to_csv function to write this data to a new CSV file.

In [106]:
df.loc[df['Close'] == df['Close'].max(), 'Close'] 
# + df.loc[df['Close'] == df['Close'].min(), ['Volume']]

Date
Jul 16, 2024    5667.2
Name: Close, dtype: float64

In [109]:
print(df.loc[df['Close'].agg(['idxmin', 'idxmax']), 'Close'].to_csv())

Date,Close
"Oct 27, 2023",4117.37
"Jul 16, 2024",5667.2