In [41]:
import pandas as pd
import numpy as np
from numpy import NaN

In [2]:
df = pd.read_csv('../data_sets/nyc_taxi_2020-01.csv', 
                 usecols=['passenger_count', 'payment_type', 'total_amount'], 
                 dtype={'passenger_count': np.float32, 'payment_type': np.float32, 'total_amount': np.float32}).interpolate()

In [3]:
df

         passenger_count  payment_type  total_amount
0                    1.0           1.0     11.270000
1                    1.0           1.0     12.300000
2                    1.0           1.0     10.800000
3                    1.0           1.0      8.160000
4                    1.0           2.0      4.800000
...                  ...           ...           ...
6405003              1.0           1.0     21.139999
6405004              1.0           1.0     62.459999
6405005              1.0           1.0     51.900002
6405006              1.0           1.0     30.219999
6405007              1.0           1.0     58.110001

[6405008 rows x 3 columns]

In [4]:
df.count()

passenger_count    6405008
payment_type       6405008
total_amount       6405008
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6405008 entries, 0 to 6405007
Data columns (total 3 columns):
 #   Column           Dtype
---  ------           -----
 0   passenger_count  float32
 1   payment_type     float32
 2   total_amount     float32
dtypes: float32(3)
memory usage: 73.3 MB

In [7]:
df = df.dropna().copy()

In [9]:
df.count()

passenger_count    6405008
payment_type       6405008
total_amount       6405008
dtype: int64

In [10]:
df['passenger_count'] = df['passenger_count'].astype(np.int8)
df['payment_type'] = df['payment_type'].astype(np.int8)

# Beyond 1
### Create a data frame from four other columns (VendorID, trip_distance,
### tip_amount, and total_amount), specifying the dtype for each. What types are
### most appropriate? Can you use them directly, or must you first clean the data?

In [32]:
df_1 = pd.read_csv('../data_sets/nyc_taxi_2020-01.csv', usecols=['VendorID', 'trip_distance',
'tip_amount', 'total_amount'], dtype={'VendorID': np.float32, 'trip_distance': np.float16,
'tip_amount': np.float16, 'total_amount': np.float32})

/home/mike-pi/miniconda3/envs/pandaswout/lib/python3.12/site-packages/pandas/io/parsers/c_parser_wrapper.py:234: RuntimeWarning: overflow encountered in cast
  chunks = self._reader.read_low_memory(nrows)

In [33]:
df_1

         VendorID  trip_distance  tip_amount  total_amount
0             1.0       1.200195    1.469727     11.270000
1             1.0       1.200195    1.500000     12.300000
2             1.0       0.600098    1.000000     10.800000
3             1.0       0.799805    1.360352      8.160000
4             2.0       0.000000    0.000000      4.800000
...           ...            ...         ...           ...
6405003       NaN       3.240234    0.000000     21.139999
6405004       NaN      22.125000    0.000000     62.459999
6405005       NaN      10.507812    0.000000     51.900002
6405006       NaN       5.488281    0.000000     30.219999
6405007       NaN      11.601562    0.000000     58.110001

[6405008 rows x 4 columns]

In [73]:
df_1 = df_1.dropna().copy()

In [74]:
df_1['VendorID'] = df_1['VendorID'].astype(np.int8)

In [75]:
df_1

         VendorID  trip_distance  tip_amount  total_amount
0               1       1.200195    1.469727     11.270000
1               1       1.200195    1.500000     12.300000
2               1       0.600098    1.000000     10.800000
3               1       0.799805    1.360352      8.160000
4               2       0.000000    0.000000      4.800000
...           ...            ...         ...           ...
6339562         2       2.099609    2.960938     17.760000
6339563         2       2.130859    3.359375     20.160000
6339564         2       2.550781    3.259766     19.559999
6339565         2       1.610352    0.000000     12.300000
6339566         2       0.000000    0.000000      0.000000

[6339567 rows x 4 columns]

# Beyond 2
### Instead of removing NaN values from the VendorID column, set it to a new value:
### 3. How does that affect your specifications and cleaning of the data?

In [64]:
from numpy import nan

In [89]:
df_2 = pd.read_csv('../data_sets/nyc_taxi_2020-01.csv', usecols=['VendorID', 'trip_distance',
'tip_amount', 'total_amount'], dtype={'VendorID': np.float32, 'trip_distance': np.float16,
'tip_amount': np.float16, 'total_amount': np.float32})

/home/mike-pi/miniconda3/envs/pandaswout/lib/python3.12/site-packages/pandas/io/parsers/c_parser_wrapper.py:234: RuntimeWarning: overflow encountered in cast
  chunks = self._reader.read_low_memory(nrows)

In [90]:
df_2['VendorID'] = df_2['VendorID'].fillna(3)
df_2

         VendorID  trip_distance  tip_amount  total_amount
0             1.0       1.200195    1.469727     11.270000
1             1.0       1.200195    1.500000     12.300000
2             1.0       0.600098    1.000000     10.800000
3             1.0       0.799805    1.360352      8.160000
4             2.0       0.000000    0.000000      4.800000
...           ...            ...         ...           ...
6405003       3.0       3.240234    0.000000     21.139999
6405004       3.0      22.125000    0.000000     62.459999
6405005       3.0      10.507812    0.000000     51.900002
6405006       3.0       5.488281    0.000000     30.219999
6405007       3.0      11.601562    0.000000     58.110001

[6405008 rows x 4 columns]

In [91]:
df_2['VendorID'] = df_2['VendorID'].astype(np.int8)

In [81]:
df_2.count()

VendorID         6405008
trip_distance    6405008
tip_amount       6405008
total_amount     6405008
dtype: int64

# Beyond 3
### Weâ€™ll talk more about this in Chapter 11, but the memory_usage method allows you to see how much memory is being used by each column in a data frame. It returns a series of integers in which the index lists the columns, and the values represent the memory used by each column. Compare the memory used by the data frame with float16 (which youâ€™ve already used) and when you use float64 instead for the final three columns.

In [92]:
df_2.memory_usage().sum()

57645204

In [93]:
df_2['tip_amount'] = df_2['tip_amount'].astype(np.float64)
df_2['total_amount'] = df_2['total_amount'].astype(np.float64)
df_2['trip_distance'] = df_2['trip_distance'].astype(np.float64)

In [94]:
df_2.memory_usage().sum()

160125332

In [95]:
160125332 / 57645204

2.777773706898496